$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-gery-dark: #777;
$color-gery-dark-2: #999;
$color-gery-dark-3: #333;
$color-white: #fff;
$color-dark: #000;

$color-gery-light-1: #f7f7f7;
$color-gery-light-2: #eee;

$grid-width: 1140px;
$gutter-vertical: 80px;
$gutter-horizontal: 60px;

$default-font-size: 16px;
