.navigation {
  &__checkbox {
    display: none;
  }

  &__button {
    text-align: center;
    background-color: $color-white;
    height: 70px;
    width: 70px;
    position: fixed;
    top: 60px;
    right: 60px;
    border-radius: 50%;
    z-index: 2000;
    box-shadow: 0 10px 30px rgba($color-dark, .1);
    cursor: pointer;
  }

  &__background {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    position: fixed;
    top: 65px;
    right: 65px;
    background-image: radial-gradient($color-primary-light, $color-primary-dark);
    z-index: 1000;
    transition: transform .8s cubic-bezier(0.86, 0, 0.07, 1);
    //transform: scale(60);
  }

  &__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    left: -1200px;
    width: 100%;
    z-index: 1500;

    opacity: 0.3;
    transition: all .8s;
  }

  &__list {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
  }

  &__item {
    margin: 10px;
  }

  &__link {
    &:link,
    &:visited {
      display: inline-block;
      padding: 10px 20px;
      font-size: 30px;
      font-weight: 300;
      color: $color-white;
      text-decoration: none;
      text-transform: uppercase;
      background-size: 220%;
      transition: all .4s;
      background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%);

      span {
        margin-right: 15px;
        display: inline-block;
      }
    }

    &:hover,
    &:active {
      color: $color-primary;
      background-position: 100%;
      transform: translateX(10px);
    }
  }

  &__checkbox:checked ~ &__background {
    transform: scale(60);
  }

  &__checkbox:checked ~ &__nav {
    left: 0;
    opacity: 1;
  }

  &__icon {
    position: relative;
    margin-top: 35px;
    &,
    &::before,
    &::after {
      width: 30px;
      height: 2px;
      background-color: $color-gery-dark-3;
      display: inline-block;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all 5s;
      backface-visibility: hidden;
    }

    &::before {
      top: -8px
    }

    &::after {
      top: 8px;
    }
  }

  &__button:hover &__icon::before {
    top: -10px;
  }

  &__button:hover &__icon::after {
    top: 10px;
  }

  &__checkbox:checked + &__button &__icon {
    background-color: transparent;
  }

  &__checkbox:checked + &__button &__icon::before {
    top: 0;
    transform: rotate(135deg);
  }

  &__checkbox:checked + &__button &__icon::after {
    top: 0;
    transform: rotate(-135deg);
  }
}
