.btn {
  &,
  &:link,
  &:visited {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    border-radius: 100px;
    transition: all 0.3s;
    position: relative;
    border: none;
    cursor: pointer;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba($color-dark, .2);
    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active, &:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba($color-dark, .2);
  }

  &--white {
    background-color: $color-white;
    color: $color-gery-dark;
    &::after {
      background-color: $color-white;
    }
  }

  &--green {
    background-color: $color-primary;
    color: $color-white;
    &::after {
      background-color: $color-primary;
    }
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .5s;
  }


  &--animated {
    animation: moveInBottom 0.75s ease-out 0.75s;
    animation-fill-mode: backwards;
  }

}

.btn-text {
  &:link,
  &:visited {
    font-size: $default-font-size;
    color: $color-primary;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid $color-primary;
    padding: 3px;
    transition: all .3s;
  }

  &:hover {
    background-color: $color-primary;
    color: $color-white;
    box-shadow: 0 10px 20px rgba($color-dark, .15);
    transform: translateY(-2px);
  }

  &:active {
    box-shadow: 0 5px 10px rgba($color-dark, .15);
    transform: translateY(0);
  }
}
