.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 30px 60px rgba($color-dark, .1);
  background-color: rgba($color-white, .6);
  border-radius: 3px;
  padding: 60px;
  padding-left: 90px;
  font-size: $default-font-size;
  transform: skewX(-12deg);

  &__shape {
    width: 150px;
    height: 150px;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);

    clip-path: circle(50% at 50% 50%);
    transform: translateX(-30px) skewX(12deg);
    position: relative;
    overflow: hidden;
  }

  &__img {
    height: 100%;
    transform: translateX(-40px) scale(1.4);
    transition: all 1s;
  }

  &__text {
    transform: skewX(12deg);
  }

  &__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: $color-white;
    font-size: 17px;
    text-align: center;
    opacity: 0;
    transition: all 5s;
    backface-visibility: hidden;
  }

  &:hover &__caption {
    opacity: 1;
    transform: translate(-50%, -50%);
  }

  &:hover &__img {
    transform: translateX(-40px) scale(1);
    filter: blur(3px) brightness(80%);
  }
}
